import React from 'react';
import { connect } from 'react-redux';
import {
  Container,
  Header,
  Message,
  Segment,
  Divider
} from 'semantic-ui-react';
import { getWelcomeMessage } from '../../actions/welcome-message.actions';

class WelcomePresentation extends React.Component {
  componentWillMount() {
    this.props.getWelcomeMessage();
  }

  render() {
    return (
      <Container>
        <br />
        <Header> Welcome!</Header>
        <Divider />
        <Segment>{this.props.welcomeMessage}</Segment>
        <Message info>This is an example of presentation.</Message>
      </Container>
    );
  }
}

const mapStateToProps = state => ({
  welcomeMessage: state.welcomeMessage
});

export default connect(
  mapStateToProps,
  {
    getWelcomeMessage
  }
)(WelcomePresentation);
